
@font-face { font-family: 'DOSMyungjo'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_eight@1.0/DOSMyungjo.woff') format('woff'); font-weight: normal; font-style: normal; }

body {
  text-align: center;
  background-color: #212121;
  color: white;
  font-family: 'DOSMyungjo';
}
.first-title {
  font-size: 0.75em;
  margin-top: 87px;
  line-height: 140%;
}

.big-font {
  font-size: 1em;
  line-height: 140%;
}

.small-font {
  font-size: 0.75em;
  line-height: 140%;
}
.small-eng-font {
  font-size: 1em;
  line-height: 140%;
}

.second-title {
  font-size: 1em;
  margin-top: 13px;
  line-height: 140%;
}

.star {
  margin-top: 2em;
  margin-bottom: 4em;
}

.star-content {
  margin-top: 2em;
  margin-bottom: 2em;
}

.underline_text {
  font-size: 1.15em;
  margin-bottom: 0.1em;
}

.underline {
  margin-bottom: 0.3em;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/*font-size: calc(10px + 2vmin);*/
.App-header {
  background-color: #212121;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  color: white;
  font-family: 'DOSMyungjo';
}


.sticky {
  margin:0;
  padding-top: 0.5em;
  padding-bottom: 0em;
  background-color: #212121;
}

.section {
  padding-bottom: 1.2em;
}

/* The animation code */
/*  from {color: #212121;}
  to {color: white;}*/
@keyframes example {

  from { opacity: 0; }
  to   { opacity: 1; }

}

.song-content {
  line-height: 120%;
  padding-bottom: 0em;
}

.ani {
 animation-name: example;
  animation-duration: 1s;
}

@keyframes white-to-black {
  from {background-color: #212121; color: #212121; }
  to {background-color: white;  color: #212121; }
}

.lyrics {
  background-color: #ffffff;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  padding-top:0.3em;
  padding-bottom:0.3em;
  color: #212121;
  animation-name: white-to-black;
  animation-duration: 2s;
  
}
/* font-family: 'NanumSquare'; */

